In [ ]:
Fitbit Dataset

1. Read this dataset in pandas, MySQL and Mongodb 
2. while creating a table in MySQL donâ€™t use manual approach to create it  ,always use a automation to create a table in MySQL
 ## hint - use csvkit library to automate this task and to load a data in bulk in you MySQL 
3. convert all the dates availed in dataset to timestamp format in pandas and in SQL you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active ids that you have in whole dataset 
6 . how many of them have not logged their activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy people we have in our dataset 
9 .  How many people are not a regular person with respect to activity try to find out those 
10 . who is the third most active person in this dataset find out those in pandas and in SQL both. 
11 . who is the 5th laziest person available in dataset find it out 
12 . what is a total accumulative calories burn for a person find out

In [ ]:
# Read this dataset in pandas, MySQL and Mongodb

In [21]:
import pandas as pd
import pymongo
import mysql.connector as conn
from sqlalchemy import create_engine

In [22]:
!pip install csvkit

Requirement already satisfied: csvkit in c:\users\lenovo\anaconda3\lib\site-packages (1.1.1)

C:\Users\Lenovo\anaconda3\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\Lenovo\anaconda3\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedReader name=5>

Requirement already satisfied: agate-dbf>=0.2.2 in c:\users\lenovo\anaconda3\lib\site-packages (from csvkit) (0.2.2)
Requirement already satisfied: agate-excel>=0.2.2 in c:\users\lenovo\anaconda3\lib\site-packages (from csvkit) (0.2.5)
Requirement already satisfied: agate>=1.6.1 in c:\users\lenovo\anaconda3\lib\site-packages (from csvkit) (1.7.1)
Requirement already satisfied: agate-sql>=0.5.3 in c:\users\lenovo\anaconda3\lib\site-packages (from csvkit) (0.5.9)
Requirement already satisfied: isodate>=0.5.4 in c:\users\lenovo\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (0.6.1)
Requirement already satisfied: parsedatetime!=2.5,>=2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.6)
Requirement already satisfied: leather>=0.3.2 in c:\users\lenovo\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (0.3.4)
Requirement already satisfied: python-slugify>=1.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (5.0.2)
Requirement already satisfied: Babel>=2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.9.1)
Requirement already satisfied: pytimeparse>=1.1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (1.1.8)
Requirement already satisfied: dbfread>=2.0.5 in c:\users\lenovo\anaconda3\lib\site-packages (from agate-dbf>=0.2.2->csvkit) (2.0.7)
Requirement already satisfied: olefile in c:\users\lenovo\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.46)
Requirement already satisfied: xlrd>=0.9.4 in c:\users\lenovo\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (2.0.1)
Requirement already satisfied: openpyxl>=2.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (3.0.9)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (1.16.0)
Requirement already satisfied: sqlalchemy<2 in c:\users\lenovo\anaconda3\lib\site-packages (from agate-sql>=0.5.3->csvkit) (1.3.24)
Requirement already satisfied: pytz>=2015.7 in c:\users\lenovo\anaconda3\lib\site-packages (from Babel>=2.0->agate>=1.6.1->csvkit) (2021.3)
Requirement already satisfied: et-xmlfile in c:\users\lenovo\anaconda3\lib\site-packages (from openpyxl>=2.3.0->agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\lenovo\anaconda3\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.1->csvkit) (1.3)

C:\Users\Lenovo\anaconda3\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [23]:
import csvkit as cs

In [24]:
# Pushing fitbit in pandas
fitbit = pd.read_csv(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data Set 3\FitBit data.csv')

In [25]:
fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [26]:
# Pushing fitbit in Mongodb
fitbit.to_json('fitbit_mongo.json')

In [27]:
pwd  #file location

'C:\\Users\\Lenovo'

In [28]:
client = pymongo.MongoClient("mongodb+srv://akritisingh:akritisingh@cluster0.8d5kqsv.mongodb.net/")

In [29]:
db = client.test

In [30]:
database = client['FitBit']

In [31]:
collection = database['FitBit_Data']

In [32]:
import json

with open(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data Set 3\fitbit_mongo.json') as file:
    data = [json.load(file)]

In [33]:
collection.insert_many(data)

In [34]:
# Pushing fitbit in SQL

In [35]:
#will check this code later
#'csvsql --db mysql://root:mysql@DS@localhost:3306/fitbit--insert C:\\Users\\Lenovo\\Documents\\Data Science\\Data Science iNeuron\\Python\\2023\\Pandas\\Data Set 3\\FitBit data.csv --table "FitBit_Data"'

In [36]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\lenovo\anaconda3\lib\site-packages (1.0.3)

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:145: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [37]:
# MySQL connection details
#First create Database in mysql using--> CREATE DATABASE fitbit;

hostname = 'localhost' 
username = 'root'
password = 'mysql@DS'  
database_name ='fitbit'  

# Create the MySQL engine
engine = create_engine(f'mysql+pymysql://{username}:{password}@{hostname}/{database_name}')

# Load your DataFrame named 'fitbit' 
fitbit = pd.read_csv(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data Set 3\FitBit data.csv')

# Specify the table name in the database
table_name = 'fitbit_data'

# Import the DataFrame into MySQL
fitbit.to_sql(table_name, con=engine, if_exists='replace', index=False)

# Close the database connection
engine.dispose()

In [38]:
#convert all the dates availed in dataset to timestamp format in pandas and in SQL you to convert it in date format

In [39]:
fitbit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [40]:
fitbit.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [41]:
fitbit['ActivityDate_Converted'] = pd.to_datetime(fitbit['ActivityDate'])

In [42]:
fitbit.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,ActivityDate_Converted
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26

In [43]:
#Find out in this data that how many unique id's we have

In [44]:
fitbit['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [45]:
len(fitbit['Id'])

457

In [46]:
len(fitbit['Id'].unique())

35

In [47]:
#which id is one of the active ids that you have in whole dataset

In [48]:
fitbit.groupby('Id')['LoggedActivitiesDistance'].sum()

Id
1503960366     0.000000
1624580081     0.000000
1644430081     0.000000
1844505072     0.000000
1927972279     0.000000
2022484408     0.000000
2026352035     0.000000
2320127002     0.000000
2347167796     0.000000
2873212765     0.000000
2891001357     9.656064
3372868164     0.000000
3977333714     0.000000
4020332650     0.000000
4057192912     0.055843
4319703577     0.000000
4388161847     0.000000
4445114986     0.000000
4558609924     0.000000
4702921684     0.000000
5553957443     0.000000
5577150313     0.000000
6117666160     0.000000
6290855005     0.000000
6391747486     8.754830
6775888955     0.000000
6962181067    14.052416
7007744171    34.351326
7086361926     0.000000
8053475328     0.000000
8253242879     0.000000
8378563200    15.127832
8583815059     0.000000
8792009665     0.000000
8877689391     0.000000
Name: LoggedActivitiesDistance, dtype: float64

In [49]:
fitbit.groupby('Id')['VeryActiveDistance'].sum().idxmax()

8053475328

In [50]:
fitbit.groupby('Id')['TotalSteps'].sum().idxmax()

1503960366

In [51]:
fitbit.groupby('Id')['TotalDistance'].sum().idxmax()

8877689391

In [52]:
fitbit.groupby('Id')['Calories'].sum().idxmax()

4020332650

In [53]:
fitbit.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

In [54]:
# how many of them have not logged their activity find out in terms of number of ids

In [55]:
fitbit.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories',
       'ActivityDate_Converted'],
      dtype='object')

In [56]:
fitbit.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda a: a<=0)

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912    False
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [57]:
fitbit.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda a: a==0).value_counts()

True     29
False     6
Name: LoggedActivitiesDistance, dtype: int64

In [58]:
len(fitbit.groupby('Id')['LoggedActivitiesDistance'])

35

In [59]:
#Find out who is the laziest person id that we have in dataset

In [60]:
fitbit.groupby('Id')['TotalDistance'].sum().idxmin()

4388161847

In [61]:
fitbit.groupby('Id')['TotalSteps'].sum().idxmin()

4388161847

In [62]:
fitbit.groupby('Id')['Calories'].sum().idxmin()

4388161847

In [63]:
fitbit.groupby('Id')['VeryActiveDistance'].sum().idxmin()

1927972279

In [64]:
# Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy people we have in our dataset

In [65]:
#fitbit[fitbit.groupby('Id')['Calories'].apply(lambda a : a>2200)]

In [66]:
def Cal_Status(a):
    if a>=2200:
        return  "Healthy"
    else:
        return  "Not Healthy"

In [67]:
Cal_Status(3000)

'Healthy'

In [68]:
    fitbit['Calories_Status'] = fitbit['Calories'].apply(Cal_Status)

In [89]:
fitbit.head(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,ActivityDate_Converted,Calories_Status
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25,Not Healthy
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26,Not Healthy
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27,Not Healthy
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28,Not Healthy
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29,Not Healthy
5,1503960366,3/30/2016,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.0,30,13,223,1174,1820,2016-03-30,Not Healthy
6,1503960366,3/31/2016,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.0,33,12,239,820,1889,2016-03-31,Not Healthy
7,1503960366,4/1/2016,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.0,47,21,200,866,1868,2016-04-01,Not Healthy
8,1503960366,4/2/2016,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.0,40,11,244,636,1843,2016-04-02,Not Healthy
9,1503960366,4/3/2016,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.0,15,30,314,655,1850,2016-04-03,Not Healthy

In [70]:
num_healthy = fitbit[fitbit['Calories_Status'] ==  "Healthy" ].shape[0]
print("Number of healthy people:", num_healthy)

Number of healthy people: 196

In [71]:
healthy_count = fitbit[fitbit['Calories_Status'] == "Not Healthy"]['Id'].nunique()

In [72]:
healthy_count

35

In [73]:
healthy_count1 = fitbit[fitbit['Calories_Status'] == "Healthy" ]['Id'].nunique()

In [74]:
healthy_count1

27

In [75]:
fitbit['Calories_Status'].unique()

array(['Not Healthy', 'Healthy'], dtype=object)

In [76]:
# Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy people we have in our dataset 
fitbit.groupby('Id')['Calories'].mean().apply(Cal_Status)

Id
1503960366    Not Healthy
1624580081    Not Healthy
1644430081        Healthy
1844505072    Not Healthy
1927972279        Healthy
2022484408        Healthy
2026352035    Not Healthy
2320127002    Not Healthy
2347167796    Not Healthy
2873212765    Not Healthy
2891001357        Healthy
3372868164    Not Healthy
3977333714    Not Healthy
4020332650        Healthy
4057192912    Not Healthy
4319703577    Not Healthy
4388161847    Not Healthy
4445114986    Not Healthy
4558609924    Not Healthy
4702921684        Healthy
5553957443    Not Healthy
5577150313        Healthy
6117666160    Not Healthy
6290855005    Not Healthy
6391747486    Not Healthy
6775888955        Healthy
6962181067    Not Healthy
7007744171        Healthy
7086361926    Not Healthy
8053475328        Healthy
8253242879    Not Healthy
8378563200        Healthy
8583815059        Healthy
8792009665    Not Healthy
8877689391        Healthy
Name: Calories, dtype: object

In [82]:
healthy_people_ids = fitbit[fitbit['Calories_Status'] == "Healthy"]['Id'].unique()

In [83]:
healthy_people_ids

array([1644430081, 1927972279, 2022484408, 2320127002, 2347167796,
       2873212765, 2891001357, 4020332650, 4057192912, 4319703577,
       4445114986, 4558609924, 4702921684, 5553957443, 5577150313,
       6117666160, 6290855005, 6391747486, 6775888955, 6962181067,
       7007744171, 7086361926, 8053475328, 8378563200, 8583815059,
       8792009665, 8877689391], dtype=int64)

In [79]:
# how many people are not a regular person with respect to activity try to find out those

In [97]:
fitbit[fitbit.groupby('Id')['TotalSteps'].apply(lambda x : x < 1000)]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,ActivityDate_Converted,Calories_Status
18,1503960366,4/12/2016,224,0.14,0.14,0.0,0.0,0.0,0.13,0.0,0,0,9,32,50,2016-04-12,Not Healthy
20,1624580081,3/26/2016,815,0.53,0.53,0.0,0.0,0.0,0.53,0.0,0,0,47,1393,1264,2016-03-26,Not Healthy
51,1844505072,4/4/2016,0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0,0,0,669,1347,2016-04-04,Not Healthy
52,1844505072,4/5/2016,0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0,0,0,1440,1347,2016-04-05,Not Healthy
53,1844505072,4/6/2016,7,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0,0,1,1439,1349,2016-04-06,Not Healthy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,8253242879,4/4/2016,0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0,0,0,1440,1429,2016-04-04,Not Healthy
405,8253242879,4/5/2016,0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0,0,0,1440,1429,2016-04-05,Not Healthy
412,8253242879,4/12/2016,0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0,0,0,1440,0,2016-04-12,Not Healthy
443,8792009665,4/11/2016,178,0.11,0.11,0.0,0.0,0.0,0.11,0.0,0,0,12,1428,1725,2016-04-11,Not Healthy
444,8792009665,4/12/2016,20,0.01,0.01,0.0,0.0,0.0,0.01,0.0,0,0,6,598,728,2016-04-12,Not Healthy

In [ ]:
#who is the third most active person in this dataset find out those in pandas and in SQL both.

In [104]:
fitbit.groupby('Id')['TotalSteps'].sum().sort_values(ascending = False).head(3)

Id
1503960366    221170
8877689391    209005
4020332650    184851
Name: TotalSteps, dtype: int64

In [105]:
# who is the 5th laziest person available in dataset find it out 
fitbit.groupby('Id')['TotalSteps'].sum().sort_values(ascending = False).tail(5)

Id
8583815059    24364
6290855005    16181
6391747486    12032
2891001357     6189
4388161847        0
Name: TotalSteps, dtype: int64

In [ ]:
#. what is a total accumulative calories burn for a person find out

In [110]:
fitbit.groupby('Id')['Calories'].sum().sort_values(ascending = False)

Id
4020332650    98412
4057192912    60913
4702921684    42322
8877689391    41414
8378563200    40274
5577150313    36303
1503960366    34128
8053475328    31825
4445114986    31617
7007744171    31525
2347167796    30320
2022484408    29704
6962181067    29249
1644430081    29164
1927972279    27048
7086361926    26124
1624580081    25705
8792009665    24884
6775888955    24523
4319703577    23931
4558609924    21962
6290855005    21656
5553957443    21630
6117666160    20993
2873212765    20349
1844505072    19391
8583815059    19130
3372868164    18603
2320127002    18385
2891001357    18187
8253242879    17556
3977333714    16777
2026352035    16266
6391747486    15868
4388161847    14442
Name: Calories, dtype: int64