In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\Attribute DataSet.xlsx')

In [4]:
type(df)  # DataFrame is table

pandas.core.frame.DataFrame

In [5]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [5]:
# We can read data from any sheet by using sheet_name = " Sheet name"
pd.read_excel(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\Attribute DataSet.xlsx', sheet_name= 'Sheet2')

         Day       Date  Customer Visited    Rush
0     Monday 2023-06-12                10     Low
1    Tuesday 2023-06-13                10     Low
2  Wednesday 2023-06-14                15  Medium
3   Thursday 2023-06-15                11     Low
4     Friday 2023-06-16                25  Medium
5   Saturday 2023-06-17                54    high
6     Sunday 2023-06-18                74    high

In [6]:
pd.read_excel(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\Attribute DataSet.xlsx', sheet_name= 'Sheet3')

  Column Name 1 Column Name 2     Column Name 3     Column Name 4
0         Data1        Data A   Other Data Set1  Other Data Set A
1         Data2        Data B   Other Data Set2  Other Data Set B
2         Data3        Data C   Other Data Set3  Other Data Set C
3         Data4        Data D   Other Data Set4  Other Data Set D
4         Data5        Data E   Other Data Set5  Other Data Set E
5         Data6        Data F   Other Data Set6  Other Data Set F
6         Data7        Data G   Other Data Set7  Other Data Set G
7         Data8        Data H   Other Data Set8  Other Data Set H
8         Data9        Data I   Other Data Set9  Other Data Set I
9        Data10        Data J  Other Data Set10  Other Data Set J

In [7]:
# By default 1st row of every table considered as header, in case if we want to remove header then we need to choose header = None

In [8]:
pd.read_excel(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\Attribute DataSet.xlsx', sheet_name= 'Sheet3', header = None )

                0              1                 2                 3
0   Column Name 1  Column Name 2     Column Name 3     Column Name 4
1           Data1         Data A   Other Data Set1  Other Data Set A
2           Data2         Data B   Other Data Set2  Other Data Set B
3           Data3         Data C   Other Data Set3  Other Data Set C
4           Data4         Data D   Other Data Set4  Other Data Set D
5           Data5         Data E   Other Data Set5  Other Data Set E
6           Data6         Data F   Other Data Set6  Other Data Set F
7           Data7         Data G   Other Data Set7  Other Data Set G
8           Data8         Data H   Other Data Set8  Other Data Set H
9           Data9         Data I   Other Data Set9  Other Data Set I
10         Data10         Data J  Other Data Set10  Other Data Set J

In [9]:
# if we want to give column name by ourself use names = ['A', 'B','C']

In [10]:
pd.read_excel(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\Attribute DataSet.xlsx', sheet_name= 'Sheet3', header = None, names =  ['A', "B",'C'])

                           A                 B                 C
Column Name 1  Column Name 2     Column Name 3     Column Name 4
Data1                 Data A   Other Data Set1  Other Data Set A
Data2                 Data B   Other Data Set2  Other Data Set B
Data3                 Data C   Other Data Set3  Other Data Set C
Data4                 Data D   Other Data Set4  Other Data Set D
Data5                 Data E   Other Data Set5  Other Data Set E
Data6                 Data F   Other Data Set6  Other Data Set F
Data7                 Data G   Other Data Set7  Other Data Set G
Data8                 Data H   Other Data Set8  Other Data Set H
Data9                 Data I   Other Data Set9  Other Data Set I
Data10                Data J  Other Data Set10  Other Data Set J

In [11]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [12]:
df.head(2)  #1st 2 records

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [13]:
df.head() # will give 1st 5 records

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [14]:
df.tail() # will give last 5 records

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [15]:
df.tail(2) #last 2 records

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [16]:
#comma seprayed values -->csv file

In [17]:
pd.read_csv (r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\haberman.csv', header = None, names = ['Age of patient', "Patient's year of operation", 'Number of positive axillary nodes detected', 'Survival status '])

,Age of patient,Patient's year of operation,Number of positive axillary nodes detected,Survival status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
...,...,...,...,...
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

In [18]:
pd.read_csv('haberman1.csv')

      30@64@1@1
0     30@62@3@1
1     30@65@0@1
2     31@59@2@1
3     31@65@4@1
4    33@58@10@1
..          ...
300   75@62@1@1
301   76@67@0@1
302   77@65@3@1
303   78@65@1@2
304   83@58@2@2

[305 rows x 1 columns]

In [19]:
pd.read_csv('haberman1.csv', sep= '@') # we can seprate this data

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [21]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BCF.csv')

In [22]:
a = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [23]:
type(a)

list

In [24]:
len(a)  #here its showing numbers of table

1

In [25]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [27]:
js = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')
js

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53622,1753117401,I_kwDOAA0YD85ofnLZ,53622,BUG: Result of setting a cell to a single-elem...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53621,1753079759,I_kwDOAA0YD85ofd_P,53621,API: EA.ffill/bfill?,...,NaT,MEMBER,NaN,"ATM EA.fillna handles both a) fillna(scalar), ...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53620,1753060728,PR_kwDOAA0YD85Syhok,53620,BUG: clean_fill_method failing to raise,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53618,1752816324,I_kwDOAA0YD85oedrE,53618,ENH/PERF: provide pyarrow engine option for to...,...,NaT,MEMBER,NaN,"We added the `engine=""pyarrow""` option to `rea...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53617,1752588867,I_kwDOAA0YD85odmJD,53617,BUG: Cannot construct DataFrame with dict as d...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53616,1752361158,I_kwDOAA0YD85ocujG,53616,BUG: CoW OverflowError: value too large to con...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53614,1752268209,PR_kwDOAA0YD85Sv0Wn,53614,Bump pypa/cibuildwheel from 2.13.0 to 2.13.1,...,NaT,CONTRIBUTOR,NaN,Bumps [pypa/cibuildwheel](https://github.com/p...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53613,1752204750,I_kwDOAA0YD85ocIXO,53613,[DEPR]: Remove numeric cross-kind casting in l...,...,NaT,CONTRIBUTOR,NaN,"As seen in discussions in #53290, cross-kind c...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53612,1751948989,I_kwDOAA0YD85obJ69,53612,BUG: resample with freq W-Mon and first data p...,...,NaT,MEMBER,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53611,1751775739,PR_kwDOAA0YD85SuJo6,53611,DOC: pd.Period and pd.period_range should docu...,...,NaT,NONE,NaN,- [x] closes #53038 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53610,1751773134,PR_kwDOAA0YD85SuJFj,53610,TST: Refactor slow test,...,NaT,MEMBER,NaN,Went from 2s to 0.05s locally,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53609,1751753766,PR_kwDOAA0YD85SuFCs,53609,"Add new `df.select()` method, plus tests and docs",...,NaT,NONE,NaN,- [x] No issues to close\r\n- [x] [Tests added...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53608,1751740575,PR_kwDOAA0YD85SuCdr,53608,TST: Mark numba & threading tests as single cpu,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53607,1751682704,PR_kwDOAA0YD85St2CH,53607,DEPR: NDFrame.interpolate with ffill/bfill met...,...,NaT,MEMBER,NaN,- [x] closes #53581 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53606,1751602325,I_kwDOAA0YD85oZ1SV,53606,BUG: inconsistent treatment of `numpy.Inf` bet...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53605,1751525908,PR_kwDOAA0YD85StVyF,53605,DOC: Fixed inconsistencies in pandas.DataFrame...,...,NaT,NONE,NaN,- [x] closes #53351\r\n- [x] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53604,1751511393,I_kwDOAA0YD85oZfFh,53604,"BUG: `date_range` with `end`, `periods`, and `...",...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53603,1751457691,I_kwDOAA0YD85oZR-b,53603,BUG: Wrong,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53602,1751427482,PR_kwDOAA0YD85StBv0,53602,ENH: Series.explode to support pyarrow-backed ...,...,NaT,CONTRIBUTOR,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53601,1751393343,PR_kwDOAA0YD85Ss6u9,53601,"fix Series.apply(..., by_row), v2.",...,NaT,CONTRIBUTOR,NaN,Fixes https://github.com/pandas-dev/pandas/pul...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53600,1751323038,I_kwDOAA0YD85oYxGe,53600,BUG: Am I screwing up ?? [OVERRIDING APPENDING],...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53599,1751256168,I_kwDOAA0YD85oYgxo,53599,BUG: on_bad_lines=callable does not invoke cal...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53597,1751230901,PR_kwDOAA0YD85SsYoA,53597,Command for installation in notebook,...,NaT,NONE,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53595,1751042524,I_kwDOAA0YD85oXsnc,53595,ENH: Allowing plotting for non-numeric and non...,...,NaT,CONTRIBUTOR,NaN,### Feature Type\r\n\r\n- [ ] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53594,1751028319,PR_kwDOAA0YD85SrvVJ,53594,"ENH: Implement PandasArray, DTA, TDA interpolate",...,NaT,MEMBER,NaN,pushing towards #50950,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53593,1750999126,PR_kwDOAA0YD85Srplu,53593,CI: Fix the deprecation bot,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53592,1750985017,PR_kwDOAA0YD85Srm0t,53592,DEPR: deprectate some positional params in (Da...,...,NaT,CONTRIBUTOR,NaN,"Deprecate using `raw`, `result_type` etc. as p...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53591,1750954979,PR_kwDOAA0YD85SrgwW,53591,TST: Add test for apply cast types GH#9506,...,NaT,CONTRIBUTOR,NaN,- [ ] closes #9506 (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/53585,1750902704,PR_kwDOAA0YD85SrWNV,53585,PERF: Series.str.split(expand=True) for pyarro...,...,NaT,CONTRIBUTOR,NaN,- [x] [Tests added and passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/53583,1750741593,I_kwDOAA0YD85oWjJZ,53583,ENH: add columns attribute to DataFrameGroupBy,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN

In [28]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'body', 'reactions', 'timeline_url',
       'performed_via_github_app', 'state_reason', 'draft', 'pull_request'],
      dtype='object')

In [29]:
js['user']

0     {'login': 'torokati44', 'id': 288816, 'node_id...
1     {'login': 'jbrockmendel', 'id': 8078968, 'node...
2     {'login': 'jbrockmendel', 'id': 8078968, 'node...
3     {'login': 'jorisvandenbossche', 'id': 1020496,...
4     {'login': 'eirki', 'id': 13980742, 'node_id': ...
5     {'login': 'arnaudlegout', 'id': 7670869, 'node...
6     {'login': 'dependabot[bot]', 'id': 49699333, '...
7     {'login': 'wence-', 'id': 1126981, 'node_id': ...
8     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
9     {'login': 'ABizzinotto', 'id': 40039437, 'node...
10    {'login': 'mroeschke', 'id': 10647082, 'node_i...
11    {'login': 'chrimaho', 'id': 44449504, 'node_id...
12    {'login': 'mroeschke', 'id': 10647082, 'node_i...
13    {'login': 'jbrockmendel', 'id': 8078968, 'node...
14    {'login': 'jrowley8013', 'id': 55408699, 'node...
15    {'login': 'tpaxman', 'id': 39451402, 'node_id'...
16    {'login': 'Charlie-XIAO', 'id': 108576690, 'no...
17    {'login': 'philippesamuel', 'id': 32560769, 'n...
18    {'login': 'lukemanley', 'id': 8519523, 'node_i...
19    {'login': 'topper-123', 'id': 26364415, 'node_...
20    {'login': 'seychelles111', 'id': 130751272, 'n...
21    {'login': 'zoushucai', 'id': 15843338, 'node_i...
22    {'login': 'salujaditi14', 'id': 136131452, 'no...
23    {'login': 'Rylie-W', 'id': 49891048, 'node_id'...
24    {'login': 'jbrockmendel', 'id': 8078968, 'node...
25    {'login': 'lithomas1', 'id': 47963215, 'node_i...
26    {'login': 'topper-123', 'id': 26364415, 'node_...
27    {'login': 'liang3zy22', 'id': 35164941, 'node_...
28    {'login': 'lukemanley', 'id': 8519523, 'node_i...
29    {'login': 'grisaitis', 'id': 908970, 'node_id'...
Name: user, dtype: object

In [30]:
js['user'][0]

{'login': 'torokati44',
 'id': 288816,
 'node_id': 'MDQ6VXNlcjI4ODgxNg==',
 'avatar_url': 'https://avatars.githubusercontent.com/u/288816?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/torokati44',
 'html_url': 'https://github.com/torokati44',
 'followers_url': 'https://api.github.com/users/torokati44/followers',
 'following_url': 'https://api.github.com/users/torokati44/following{/other_user}',
 'gists_url': 'https://api.github.com/users/torokati44/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/torokati44/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/torokati44/subscriptions',
 'organizations_url': 'https://api.github.com/users/torokati44/orgs',
 'repos_url': 'https://api.github.com/users/torokati44/repos',
 'events_url': 'https://api.github.com/users/torokati44/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/torokati44/received_events',
 'type': 'User',
 'site_admin': False}

In [31]:
df = pd.read_excel(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\Attribute DataSet.xlsx')

In [32]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [33]:
#conversion of df in jason file
df.to_json('dftest.json')

In [34]:
pwd # location of file

'C:\\Users\\Lenovo'

In [6]:
#Save data Permanently in file
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [8]:
df.to_csv('C:\\Users\\Lenovo\\dftest1.csv')

In [14]:
df.to_csv('C:\\Users\\Lenovo\\dftest123.csv', sep = "#")

In [15]:
df.to_csv('C:\\Users\\Lenovo\\dftest1234.csv', index= False)  # if we don't want indexes in table

In [3]:
df_salesdata = pd.read_excel(r'C:\Users\Lenovo\Documents\Data Science\Data Science iNeuron\Python\2023\Pandas\Data set\Dress Sales.xlsx')

In [5]:
df_salesdata.head()

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [6]:
df_salesdata.isnull().sum()

Dress_ID                 0
29/8/2013                0
31/8/2013                0
2013-02-09 00:00:00      0
2013-04-09 00:00:00      0
2013-06-09 00:00:00      0
2013-08-09 00:00:00      0
2013-10-09 00:00:00      0
2013-12-09 00:00:00      0
14/9/2013                0
16/9/2013                0
18/9/2013                0
20/9/2013                0
22/9/2013                0
24/9/2013                0
26/9/2013              237
28/9/2013                0
30/9/2013              273
2013-02-10 00:00:00    275
2013-04-10 00:00:00    274
2013-06-10 00:00:00      0
2010-08-10 00:00:00    271
2013-10-10 00:00:00    271
2013-12-10 00:00:00      0
dtype: int64